<div layout="column" class="md-inline-form">
<md-content layout-padding>
	<form id="frmSwimmingPool" ng-submit="$ctrl.modifyPool($ctrl.pool)">
		<div layout-gt-xs="row">
			<md-input-container class="md-block" flex="50">
				<label>Name</label>
				<input required ng-model="$ctrl.pool.name"/>
			</md-input-container>
			<md-input-container class="md-block" flex="50">
				<label>Owner Name</label>
				<input ng-model="$ctrl.pool.poolOwner" />
			</md-input-container>
		</div>
			<md-input-container class="md-block">
				<label>Picture</label>
				<input ng-model="$ctrl.pool.image" />
			</md-input-container>
	</form>
</md-content>
<h2>Pool Details</h2>
<md-tabs md-dynamic-height md-border-bottom>
<md-tab label="Details">
			<md-input-container class="md-block">
				<label>Street Address</label>
				<input ng-model="$ctrl.pool.address.street" />
			</md-input-container>
		<div layout-gt-sm="row">
			<md-input-container class="md-block" flex="60">
				<label>City</label>
				<input ng-model="$ctrl.pool.address.city" />
			</md-input-container>
			<md-input-container flex="20">
				<label>State</label>
				<md-select ng-model="$ctrl.pool.address.state">
					<md-option><em>None</em></md-option>
					<md-option ng-repeat="state in $ctrl.states" ng-value="state.abbrev">
						{{state.abbrev}}
					</md-option>
				</md-select>
			</md-input-container>
			<md-input-container class="md-block" flex="20">
				<label>Zip Code</label>
				<input ng-model="$ctrl.pool.address.zipcode" />
			</md-input-container>
		</div>
<md-content layout="row" layout-padding>
	<md-input-container class="md-block" >
		<label>Size in Gallons</label>
		<input ng-model="$ctrl.pool.size" type="number"/>
	</md-input-container>
	<md-input-container class="md-block" >
		<label>Pool Surface</label>
		<md-select ng-model="$ctrl.pool.type">
			<md-option ng-repeat="surfaceType in $ctrl.poolSurfaces" ng-value="surfaceType">
				{{surfaceType}}
			</md-option>
		</md-select>
	</md-input-container>
	<md-input-container class="md-block" >
		<label>Chlorine Source</label>
		<md-select ng-model="$ctrl.pool.chlorineSource">
			<md-option ng-repeat="chlorineSource in $ctrl.chlorineTypes" ng-value="chlorineSource">
				{{chlorineSource}}
			</md-option>
		</md-select>
	</md-input-container>
</md-content>
<md-content layout="row">
		<md-input-container>
			<label>Last Filter Cleaning</label>
			<md-datepicker ng-model="$ctrl.pool.lastFilterChange"></md-datepicker>
		</md-input-container>
	
</md-content>
</md-tab>
<md-tab label="Targets">
<md-content layout="row" layout-padding>
	<md-slider-container flex ng-repeat="poolTest in $ctrl.poolTests">
		<md-input-container>
			<input flex type="number" ng-model="$ctrl.pool.targets[poolTest.id]" 
				  step="{{ poolTest.increment }}" aria-controls="{{poolTest.id}}-slider" aria-label="{{poolTest.id}}"/>
		</md-input-container>
		<md-slider ng-model="$ctrl.pool.targets[poolTest.id]" min="{{ poolTest.minLevel }}" max="{{ poolTest.maxLevel }}" 
			step="{{ poolTest.increment}}"
			aria-label="fca" id="fca-slider" class="md-accent" md-vertical md-range md-discrete>
		</md-slider>
		<h5>{{poolTest.name}}</h5>
	</md-slider-container>
</md-content>
</md-tab>
<md-tab label="Chemicals">
<md-content layout="row" layout-padding>
	<md-list>
		<md-list-item ng-repeat="chem in $ctrl.pool.chemicals track by $index">
			<div class="md-list-item-text">
				<md-button  ng-click="$ctrl.removeChemical(chem)">&times;</md-button>
				{{chem.name}} {{chem.strength}}
			</div>
		</md-list-item>
	</md-list>
</md-content>
<md-content layout="row" layout-padding>
		<md-button ng-click="$ctrl.addChemical($ctrl.chemical)">&plus;</md-button>
	<md-input-container>
		<label>Chemical</label>
		<input ng-model="$ctrl.chemical.name"/>
	</md-input-container>
	<md-input-container>
		<label>Strength</label>
		<input ng-model="$ctrl.chemical.strength"/>
	</md-input-container>
</md-content>	
</md-tab>
<md-tab label="Map">
<div map-lazy-load="{{$ctrl.mapURL}}">
  <ng-map center="{{$ctrl.pool.address.street}},{{$ctrl.pool.address.city}},{{$ctrl.pool.address.state}}" zoom="75" map-type-id="MapTypeId.SATELLITE">
  	<marker position="{{$ctrl.pool.address.street}},{{$ctrl.pool.address.city}},{{$ctrl.pool.address.state}}"></marker>
	<traffic-layer></traffic-layer>
  </ng-map>
</div>
</md-tab>
</md-tabs>

<div>
	<md-button type="submit" ng-click="$ctrl.modifyPool($ctrl.pool)">Save</md-button>
	<md-button type="submit" ng-click="$ctrl.removePool($ctrl.pool._id)">Delete</md-button>
	<md-button ui-sref='swimmingPool'>Cancel</md-button>
</div>
	</div>