<header>
	<h1>Pool Tests</h1>
</header>
      <md-card ng-repeat="poolTest in $ctrl.poolTests">
        <md-card-title>
          <md-card-title-text>
           <span class="md-headline">{{poolTest.name}}</span>
          </md-card-title-text>
		  <md-card-title-media>
				<md-button>
					 <md-tooltip>Ideal Level {{poolTest.idealLevel}}</md-tooltip>
           <md-icon md-font-library="material-icons" ng-style="{color: 'green'}">sentiment_very_satisfied</md-icon>
           Ideal {{poolTest.idealLevel}}
				 </md-button>
 				<md-button>
 					 <md-tooltip>Minimum: {{poolTest.minLevel}} Max: {{poolTest.maxLevel}}</md-tooltip>
            <md-icon md-font-library="material-icons" ng-style="{color: 'red'}">error_outline</md-icon>
            Minimum: {{poolTest.minLevel}} Max: {{poolTest.maxLevel}}
 				 </md-button>
          </md-card-title-media>
        </md-card-title>
        <md-card-content>
          <p>{{poolTest.description}}</p>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
          <md-button ng-click="$ctrl.openHowTo(poolTest)">How To</md-button>
        </md-card-actions>
      </md-card>